.stack .vcard {
	.tel {
		position: relative;
		margin-bottom: 20px;
		padding-left: 60px;
		min-height: 40px;
		padding-top: 0.5rem;
	}
	.tel::after {
		background-image: url("data:image/svg+xml,%3Csvg fill='none' height='40' viewBox='0 0 40 40' width='40' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3CclipPath id='a'%3E%3Cpath d='m11 11h18.68v18.62h-18.68z'/%3E%3C/clipPath%3E%3Ccircle cx='20' cy='20' fill='%23234253' r='20'/%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='m15.62 11.44c.7.97 1.54 2.22 2.51 3.75.24.41.21.91-.11 1.49-.12.24-.42.8-.91 1.67.53.75 1.34 1.67 2.44 2.76 1.09 1.09 2 1.9 2.73 2.44.87-.51 1.43-.82 1.67-.95.32-.17.62-.26.91-.26.22 0 .41.05.58.15 1.11.68 2.38 1.52 3.78 2.51.27.2.42.46.45.8.04.34-.07.7-.31 1.09-.12.17-.32.42-.58.75-.27.33-.67.74-1.2 1.23s-.97.75-1.31.75h-.04c-2.56-.1-5.72-2.02-9.47-5.77-3.74-3.74-5.66-6.9-5.76-9.47 0-.34.25-.78.75-1.33.5-.54.9-.94 1.22-1.18s.58-.44.8-.58c.27-.2.57-.29.91-.29.42 0 .73.15.95.44zm-1.2.76c-.51.36-.99.77-1.44 1.22s-.71.78-.78 1c.1 2.26 1.9 5.13 5.4 8.62s6.38 5.3 8.63 5.42c.2-.07.51-.34.96-.8s.86-.95 1.22-1.45c.07-.1.1-.18.07-.26-1.45-1.02-2.67-1.83-3.64-2.44-.1 0-.22.04-.36.11-.22.12-.76.42-1.64.91l-.62.36-.62-.4c-.8-.56-1.77-1.42-2.91-2.58-1.14-1.14-1.99-2.11-2.55-2.91l-.44-.58.36-.65c.48-.87.79-1.42.91-1.64.07-.15.11-.27.11-.36-.86-1.38-1.66-2.59-2.39-3.63h-.04c-.09 0-.18.03-.25.07z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E");
		background-repeat: no-repeat no-repeat;
		background-position: center center;
		background-size: cover;
		width: 40px;
		height: 40px;
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
	}


	.adr {
		position: relative;
		margin-bottom: 20px;
		padding-left: 60px;
		min-height: 40px;
		padding-top: 0.5rem;
	}
	.adr::after {
		background-image: url("data:image/svg+xml,%3Csvg fill='none' height='40' viewBox='0 0 40 40' width='40' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3CclipPath id='a'%3E%3Cpath d='m12 9h16.19v21.41h-16.19z'/%3E%3C/clipPath%3E%3Ccircle cx='20' cy='20' fill='%23234253' r='20'/%3E%3Cg clip-path='url(%23a)' stroke='%23fff' stroke-miterlimit='10'%3E%3Cpath d='m27.6896 16.9399c.31-9.81995-15.5-10.01996-15.19 0 .24 7.46 7.59 12.84 7.59 12.84s7.36-5.39 7.59-12.84z'/%3E%3Cpath d='m20.1001 21.29c2.2202 0 4.02-1.7998 4.02-4.02s-1.7998-4.02-4.02-4.02-4.02 1.7998-4.02 4.02 1.7998 4.02 4.02 4.02z'/%3E%3C/g%3E%3C/svg%3E");
		background-repeat: no-repeat no-repeat;
		background-position: center center;
		background-size: cover;

		width: 40px;
		height: 40px;
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
	}


}




/*
footer {
  padding: 4rem 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  line-height: 28px;
  color: #374151;
  background: linear-gradient(90deg,
      #6d28d9,
      #db2777,
      #feac5e,
      #c779d0,
      #4bc0c8);
  background-size: 600% 600%;
  animation: gradient_footer 16s ease infinite;
}
*/