.link-arrow {
	@apply flex;
}

.link-arrow a {
	@apply font-sans font-bold;
	cursor: pointer;
	display: block;
	font-size: 14px;
	min-height: 16px;
	padding-right: 26px;
	position: relative;
	white-space: nowrap;
}

.link-arrow a::after {
	background-position: right center;
	background-repeat: no-repeat;
	background-size: cover;
	content: '';
	height: 10px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	transition: right 200ms ease, width 200ms ease;
	width: 11px;
}
.link-arrow a:hover::after {
	right: -5px;
	width: 16px;
}

.arrow-river a::after {
	background-image: url("data:image/svg+xml,%3Csvg fill='none' height='10' viewBox='0 0 16 10' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%23234253'%3E%3Cpath d='m11.29 1 4 4-4 4' stroke-linecap='square' stroke-miterlimit='10'/%3E%3Cpath d='m.00000036 5h14.99999964' stroke-linejoin='bevel'/%3E%3C/g%3E%3C/svg%3E");
/* 	background-image: url("data:image/svg+xml,%3Csvg fill='none' height='16' viewBox='0 0 36 16' width='36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m35.7071 8.70711c.3905-.39053.3905-1.02369 0-1.41422l-6.364-6.363958c-.3905-.390524-1.0236-.390524-1.4142 0-.3905.390528-.3905 1.023688 0 1.414218l5.6569 5.65685-5.6569 5.6569c-.3905.3905-.3905 1.0236 0 1.4142.3906.3905 1.0237.3905 1.4142 0zm-35.7071.29289h35v-2h-35z' fill='%23234253'/%3E%3C/svg%3E"); */
}
.arrow-city a::after {
	background-image: url("data:image/svg+xml,%3Csvg fill='none' height='10' viewBox='0 0 16 10' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%23FF5F5D'%3E%3Cpath d='m11.29 1 4 4-4 4' stroke-linecap='square' stroke-miterlimit='10'/%3E%3Cpath d='m.00000036 5h14.99999964' stroke-linejoin='bevel'/%3E%3C/g%3E%3C/svg%3E");
/* 	background-image: url("data:image/svg+xml,%3Csvg fill='none' height='16' viewBox='0 0 36 16' width='36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m35.7071 8.70711c.3905-.39053.3905-1.02369 0-1.41422l-6.364-6.363958c-.3905-.390524-1.0236-.390524-1.4142 0-.3905.390528-.3905 1.023688 0 1.414218l5.6569 5.65685-5.6569 5.6569c-.3905.3905-.3905 1.0236 0 1.4142.3906.3905 1.0237.3905 1.4142 0zm-35.7071.29289h35v-2h-35z' fill='%23FF5F5D'/%3E%3C/svg%3E"); */
}
.arrow-sky a::after {
	background-image: url("data:image/svg+xml,%3Csvg fill='none' height='10' viewBox='0 0 16 10' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%2372D1F6'%3E%3Cpath d='m11.29 1 4 4-4 4' stroke-linecap='square' stroke-miterlimit='10'/%3E%3Cpath d='m.00000036 5h14.99999964' stroke-linejoin='bevel'/%3E%3C/g%3E%3C/svg%3E");
/* 	background-image: url("data:image/svg+xml,%3Csvg fill='none' height='16' viewBox='0 0 36 16' width='36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m35.7071 8.70711c.3905-.39053.3905-1.02369 0-1.41422l-6.364-6.363958c-.3905-.390524-1.0236-.390524-1.4142 0-.3905.390528-.3905 1.023688 0 1.414218l5.6569 5.65685-5.6569 5.6569c-.3905.3905-.3905 1.0236 0 1.4142.3906.3905 1.0237.3905 1.4142 0zm-35.7071.29289h35v-2h-35z' fill='%2372D1F6'/%3E%3C/svg%3E"); */
}
.arrow-white a::after {
	background-image: url("data:image/svg+xml,%3Csvg fill='none' height='10' viewBox='0 0 16 10' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%23fff'%3E%3Cpath d='m11.29 1 4 4-4 4' stroke-linecap='square' stroke-miterlimit='10'/%3E%3Cpath d='m.00000036 5h14.99999964' stroke-linejoin='bevel'/%3E%3C/g%3E%3C/svg%3E");
/* 	background-image: url("data:image/svg+xml,%3Csvg fill='none' height='16' viewBox='0 0 36 16' width='36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m35.7071 8.70711c.3905-.39053.3905-1.02369 0-1.41422l-6.364-6.363958c-.3905-.390524-1.0236-.390524-1.4142 0-.3905.390528-.3905 1.023688 0 1.414218l5.6569 5.65685-5.6569 5.6569c-.3905.3905-.3905 1.0236 0 1.4142.3906.3905 1.0237.3905 1.4142 0zm-35.7071.29289h35v-2h-35z' fill='%23FFFFFF'/%3E%3C/svg%3E"); */
}
.arrow-gunmetal a::after {
	background-image: url("data:image/svg+xml,%3Csvg fill='none' height='10' viewBox='0 0 16 10' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%23192C36'%3E%3Cpath d='m11.29 1 4 4-4 4' stroke-linecap='square' stroke-miterlimit='10'/%3E%3Cpath d='m.00000036 5h14.99999964' stroke-linejoin='bevel'/%3E%3C/g%3E%3C/svg%3E");
/* 	background-image: url("data:image/svg+xml,%3Csvg fill='none' height='16' viewBox='0 0 36 16' width='36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m35.7071 8.70711c.3905-.39053.3905-1.02369 0-1.41422l-6.364-6.363958c-.3905-.390524-1.0236-.390524-1.4142 0-.3905.390528-.3905 1.023688 0 1.414218l5.6569 5.65685-5.6569 5.6569c-.3905.3905-.3905 1.0236 0 1.4142.3906.3905 1.0237.3905 1.4142 0zm-35.7071.29289h35v-2h-35z' fill='%23FFFFFF'/%3E%3C/svg%3E"); */
}

.link-arrow span {
	display: inline-block;
	position: relative;
}
.link-arrow span::before {
	background: currentColor;
	height: 1px;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 100%;
	width: 100%;
}

.link-arrow span::before {
	content: '';
	transform-origin: 100% 50%;
	transform: scale3d(0, 1, 1);
	transition: transform 0.3s;
}

.link-arrow a:hover span::before {
	transform-origin: 0% 50%;
	transform: scale3d(1, 1, 1);
}

.arrow-down .box {
	rotate: 90deg;
}
