.stack-slabs {
	a::after {
		background-image: url("data:image/svg+xml,%3Csvg fill='none' height='18' viewBox='0 0 42 18' width='42' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%23192c36' stroke-width='2'%3E%3Cpath d='m33 2 7 7-7 7' stroke-linecap='square' stroke-miterlimit='10'/%3E%3Cpath d='m-.00000191 9h40.00000191' stroke-linejoin='bevel'/%3E%3C/g%3E%3C/svg%3E");
		background-position: -42px center;
		background-repeat: no-repeat;
		background-size: cover;
		content: '';
		height: 18px;
		margin-left: 12px;
		overflow: hidden;
		position: relative;
		transition: background-position 200ms ease;
		width: 42px;
	}
	a:hover::after {
		background-position: right center;
	}
}