/*
.stack-team {
}
*/

.stack-team--collocated {
	.employees {
		@apply grid   grid-cols-2 auto-rows-min     lg:grid-cols-18 lg:auto-rows-min gap-3;
		overflow: visible;
		position: relative;
	}
	.employee {
	border: 1px solid red;
	}

	.cta-image-container::after {
/* 		background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 9 9' viewBox='0 0 9 9' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1.2' cy='1.2' fill='%23234353' r='1.2'/%3E%3C/svg%3E"); */

background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 5 5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m.6 1.2c.4 0 .6-.3.6-.6s-.3-.6-.6-.6-.6.3-.6.6.3.6.6.6z' fill='%23234353'/%3E%3C/svg%3E");


	background-position: left top;
	background-repeat: repeat;
	background-size: 5px 5px;
	content: '';
	height: 135px;
	left: -15px;
	position: absolute;
	width: 135px;
	right: 15px;
	top: -15px;
}

}

.stack-team--staggered {
	.employees {
		@apply grid grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8;
		overflow: visible;
		position: relative;
	}
	.employees::before {
		background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 9 9' viewBox='0 0 9 9' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1.2' cy='1.2' fill='%23ff5f5d' r='1.2'/%3E%3C/svg%3E");
		background-position: left top;
		background-repeat: repeat;
		background-size: 9px 9px;
		content: '';
		height: 225px;
		position: absolute;
		right: -30px;
		top: -70px;
		width: 40%;
	}
	@media (min-width: 1024px) {
		.employees::after {
			background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 9 9' viewBox='0 0 9 9' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1.2' cy='1.2' fill='%2372D1F6' r='1.2'/%3E%3C/svg%3E");
			background-position: left top;
			background-repeat: repeat;
			background-size: 9px 9px;
			content: '';
			height: 180px;
			left: 30px;
			width: 40%;
			position: absolute;
			top: 55%;
		}
	}
	.employee {
		@apply overflow-hidden relative;
		/* Image container - force consistent square aspect ratio */
		> div:first-child {
			aspect-ratio: 1 / 1;
			@apply overflow-hidden;
		}
		/* Make images fill container consistently */
		img {
			@apply w-full h-full object-cover;
			object-position: top center;
		}
		/* Mobile: text below photo */
		.employee-info {
			@apply py-3;
		}
		/* Desktop: hover overlay on photo */
		@media (min-width: 1024px) {
			.employee-info {
				@apply absolute bottom-0 left-0 right-0 z-20 px-5 py-4 bg-sky opacity-0 transition-opacity duration-300;
			}
			&:hover .employee-info {
				@apply opacity-100;
			}
		}
	}
	.employee-info a.linkedin-profile {
		padding-left: 0;
		font-weight: bold;
	}
}


/*
.employee:first-child {
	height: 300px;
	width: 300px;
	border: 1px solid green;
	@apply self-end;
}



.employee:nth-child(even),
.employee:nth-child(5){
	height: 248px;
	width: 248px;
	border: 1px solid red;
}



.employee:nth-child(2){
	@apply self-end;
}
.employee:nth-child(3){
	width: 210px;
	height: 248px;
	border: 1px solid orange;
	@apply self-end;
}
.employee:nth-child(4){
	width: 250px;
	@apply self-end;
}

.employee:nth-child(7){
	width: 232px;
	height: 300px;
	border: 1px solid yellow;
}

.employee:nth-child(8){
	width: 286px;
	height: 248px;
	border: 1px solid greenyellow;
}

.employee:nth-child(9){
	width: 280px;
	height: 248px;
	border: 1px solid turquoise;
}

*/

