.stack-banking-solutions {

/*
	.accordion-container {
	}
	.accordion-item {
		@apply border-t border-sky last:border-b;
	}

	.accordion-item.active {
		@apply bg-limestone;
	}
	.accordion-header {
		cursor: pointer;
	}
	.accordion-item .accordion-toggle {
		background-image: url("data:image/svg+xml,%3Csvg fill='none' height='36' viewBox='0 0 50 50' width='36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0 0h50v50h-50z' fill='%2372d1f6'/%3E%3Cg stroke='%23234353' stroke-linejoin='bevel'%3E%3Cpath d='m16 25h19'/%3E%3Cpath d='m25.5 15.5v19'/%3E%3C/g%3E%3C/svg%3E");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 36px;
		position: relative;
		width: 36px;

	}
	.accordion-item.active .accordion-toggle {
		background-image: url("data:image/svg+xml,%3Csvg fill='none' height='36' viewBox='0 0 50 50' width='36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0 0h50v50h-50z' fill='%23234353'/%3E%3Cg stroke='%23fff' stroke-linejoin='bevel'%3E%3Cpath d='m32.2163 31.7173-13.4351-13.4351'/%3E%3Cpath d='m32.2163 18.2827-13.4351 13.4351'/%3E%3C/g%3E%3C/svg%3E");
	}
	.accordion-body .stat-wrapper {
		justify-content: space-between;
	}

	.accordion-item .kicker {
		display: none;
	}
	.accordion-item.active .kicker {
		display: block;
	}
*/

	.services ul {
		list-style-type: disc;

		li::marker {
			@apply text-sky;
		}
	}
}



@media (min-width: 768px) {
	.stack-banking-solutions {
		.accordion-item .accordion-header {
			cursor: url("data:image/svg+xml,%3Csvg fill='none' height='50' viewBox='0 0 50 50' width='50' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0 0h50v50h-50z' fill='%2372d1f6'/%3E%3Cg stroke='%23234353' stroke-linejoin='bevel'%3E%3Cpath d='m16 25h19'/%3E%3Cpath d='m25.5 15.5v19'/%3E%3C/g%3E%3C/svg%3E") 0 50,auto !important;
		}
		.accordion-item.active .accordion-header {
			cursor: url("data:image/svg+xml,%3Csvg fill='none' height='50' viewBox='0 0 50 50' width='50' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0 0h50v50h-50z' fill='%23234353'/%3E%3Cg stroke='%23fff' stroke-linejoin='bevel'%3E%3Cpath d='m32.2163 31.7173-13.4351-13.4351'/%3E%3Cpath d='m32.2163 18.2827-13.4351 13.4351'/%3E%3C/g%3E%3C/svg%3E") 0 50,auto !important;
		}
	}
}

@media (min-width: 1024px) {
	.stack-banking-solutions {
		.accordion-body .stat-wrapper {
			margin-top: -6rem;
		}
	}
}