/*
.stack-solutions {
}
*/

.swiper-solutions {
	box-sizing: border-box;
	height: 500px;
	overflow: hidden;
	padding: 0;
	user-select: none;
	width: 100%;

	.swiper-slide {
 		align-items: center;
		box-sizing: border-box;
		display: flex;
		height: 100%;
 		justify-content: center;
		position: relative;
		width: 100%;
	}

	.swiper-slide-content {
 		align-items: flex-start;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		height: 100%;
 		justify-content: center;
		padding: 0;
		position: relative;
		width: 100%;
		z-index: 1;
	}

	.swiper-slide-title {
		transform-origin: left;
	}

	.swiper-slide-text {
		transform-origin: left;
	}
}

#svgSolutions {
	height: 100%;
	width: 100%;
	.path {
		fill: none;
		stroke-miterlimit: 1;
		stroke-width: 3;
		stroke: #72d1f6;
	}

	.line {
		fill: none;
		stroke-miterlimit: 1;
		stroke-width: 1;
		stroke: rgba(114, 209, 246, 0.2);
	}
	.triangle {
		fill: none;
		stroke-width: 2;
		stroke: #fff7ef;
	}
	.point {
		fill: #72d1f6;
		opacity: 0;
	}
}