/*
.stack-projects {
}
*/

/*
:root {
	--swiper-theme-color: #ffffff;
	--swiper-navigation-top-offset: 90%;
	--swiper-navigation-sides-offset: 2rem;
	--swiper-navigation-color: var(--swiper-theme-color);
	--swiper-pagination-bottom: 10%;

	--swiper-pagination-bullet-inactive-color: #fff;
	--swiper-pagination-bullet-inactive-opacity: 1;

	--swiper-pagination-bullet-opacity: 1;
	--swiper-pagination-color: #fff;
	--swiper-pagination-bullet-horizontal-gap: 12px;
}



.swiper-projects {
	.swiper-slide {

	}
	.swiper-slide img {
	}

	.swiper-button-next,.swiper-button-prev {
		z-index: 100;
	}
}

.swiper-button-prev-projects {
	bottom: var(--swiper-navigation-size);
	top: auto;


	left: var(--swiper-navigation-sides-offset,10px);
	transform: translateX(50%);

}

.swiper-button-next-projects {
	bottom: var(--swiper-navigation-size);
	top: auto;

	position: absolute;
	right: var(--swiper-navigation-sides-offset,10px);
	transform: translateX(-50%);
}


@media (min-width: 768px) {
	.swiper-button-prev-projects {
	left: calc( 50% - var(--swiper-navigation-sides-offset,10px) * 3);
	}
	.swiper-button-next-projects {
	left: calc( 50% - var(--swiper-navigation-sides-offset,10px) );

	}

}



.swiper-button-prev:after {
background-color: slategray;
  content: '';
width: 21px;
height: 40px;
background-image: url("data:image/svg+xml,%3Csvg fill='none' height='40' viewBox='0 0 21 40' width='21' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m20 39-19-19 19-19' stroke='%23fff'/%3E%3C/svg%3E");
background-repeat: no-repeat no-repeat;
background-position: center center;
background-size: cover;


}

.swiper-button-next:after {
background-color: slategray;
  content: '';
width: 21px;
height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' height='40' viewBox='0 0 21 40' width='21' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 1 19 19-19 19' stroke='%23fff'/%3E%3C/svg%3E");

background-repeat: no-repeat no-repeat;
background-position: center center;
background-size: cover;
}

*/


.swiper-projects {
	--swiper-pagination-bottom: 0;
	--swiper-pagination-left: auto;
	--swiper-pagination-right: 0;
	.swiper-button-prev::after,
	.swiper-button-next::after {
		content: "";
	}
	.swiper-button-prev,
	.swiper-button-next {
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
	.swiper-button-prev {
		background-image: url("data:image/svg+xml,%3Csvg fill='none' height='40' viewBox='0 0 21 40' width='21' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m20 39-19-19 19-19' stroke='%23fff'/%3E%3C/svg%3E");
	}
	.swiper-button-next {
		background-image: url("data:image/svg+xml,%3Csvg fill='none' height='40' viewBox='0 0 21 40' width='21' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 1 19 19-19 19' stroke='%23fff'/%3E%3C/svg%3E");
	}
}

/*
.swiper-pagination-projects {
	align-items: center;
	background-color: orange;
	display: flex;
	height: var(--swiper-navigation-size);
	justify-content: center;
	left: var(--swiper-pagination-left) !important;
	margin: 0;
	padding: 0;
	position: absolute;
	right: var(--swiper-pagination-right) !important;
	width: 50% !important;
	z-index: 1000;
}
*/

.swiper-buttons-projects-container {
/* 	bottom: 48px; */
	height: var(--swiper-navigation-size);
/*
	position: absolute;
	z-index: 1000;
*/
}


.swiper-buttons-projects {
	width: 80%;
	position: relative;
	margin: 0 auto;
}

.swiper-button-prev-projects {
 	left: 0;
	margin-top: 0;
 	top: 0;
}
.swiper-button-next-projects {
	margin-top: 0;
	right: 0;
	top: 0;
}