.stack-scroller {
	overflow: visible;
	z-index: 10;
}

.scroller-image {
	transform: translateY(-170px);
	img {
 		clip-path: polygon(0 0, 65% 0, 100% 25%, 100% 100%, 35% 100%, 0 75%);
		z-index: 20;
	}
}

.wedge-image {
	clip-path: polygon(0 calc(100% - 20vw), 100% 0%, 100% 100%, 0% 100%);
	position: relative;
	z-index: 0;
	height: 600px;
}
.scroller-bg-image {
	position: relative;
	width: 100%;
}



.swiper-scroller {
/*
	.swiper-container {
		position: relative;
	}
	.swiper-container::before,
	.swiper-container::after {
		content: '';
		height: 50px;
		left: 0;
		position: absolute;
		width: 100%;
		z-index: 40;
	}
*/
	.swiper-wrapper {
	height: 400px !important;

	}

/*
	.swiper-container::before {
		background: -moz-linear-gradient(top,  rgba(35,66,83,1) 0%, rgba(35,66,83,0) 100%);
		background: -webkit-linear-gradient(top,  rgba(35,66,83,1) 0%,rgba(35,66,83,0) 100%);
		background: linear-gradient(to bottom,  rgba(35,66,83,1) 0%,rgba(35,66,83,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#234253', endColorstr='#00234253',GradientType=0 );
		top: 0;
	}
	.swiper-container::after {
		background: -moz-linear-gradient(top,  rgba(35,66,83,0) 0%, rgba(35,66,83,1) 100%);
		background: -webkit-linear-gradient(top,  rgba(35,66,83,0) 0%,rgba(35,66,83,1) 100%);
		background: linear-gradient(to bottom,  rgba(35,66,83,0) 0%,rgba(35,66,83,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00234253', endColorstr='#234253',GradientType=0 );
		bottom: 0;
	}
*/


	.swiper-slide {
		@apply blur-sm;
 		display: flex;
		flex-direction: column;
 		justify-content: center;
 		overflow: visible;

	}
	.swiper-slide-active {
		@apply blur-none;
	}
}