.stack-profile-banner {
	overflow: visible;
	z-index: 15;
}

.profile-image-container {
	margin-top: 6.25rem;
	position: relative;
	@media (min-width: 992px) {
		margin-top: 0;
	}
}


.profile-image-container::after {
	background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 9 9' viewBox='0 0 9 9' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1.2' cy='1.2' fill='%23ff5f5d' r='1.2'/%3E%3C/svg%3E");
	background-position: left top;
	background-repeat: repeat;
	background-size: 9px 9px;
	content: '';
	height: 40%;
	left: -20px;
	position: absolute;
	right: 20px;
	top: -20px;
}

.profile-image {
	img {
 		clip-path: polygon(0 0, 65% 0, 100% 25%, 100% 100%, 35% 100%, 0 75%);
		z-index: 20;
	}
}





