/*
.stack-capabilities {
}
*/

.result-description strong {
	@apply font-sans font-bold;
}

.stack-capabilities::after {
	background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 18 18' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1.2' cy='1.2' fill='%236f6c6c' r='1.2'/%3E%3C/svg%3E");
	background-position: left top;
	background-repeat: repeat;
	background-size: 18px 18px;
	bottom: 54px;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 54px;
}


@media (min-width: 1024px) {
	.stack-capabilities::after {
		top: 72px;
		bottom: 72px;
	}
}