.stack-authors {
	.cta-image-container::after {
		background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 9 9' viewBox='0 0 9 9' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1.2' cy='1.2' fill='%23234353' r='1.2'/%3E%3C/svg%3E");
	}
}