/*
.stack-graphs {
}
*/

.swiper-graphs {
	--swiper-theme-color: #234253;
	--swiper-navigation-color: var(--swiper-theme-color);

	box-sizing: border-box;
	overflow: hidden;
	padding: 0;
	width: 100%;
	.swiper-slide {
	}
	.swiper-slide-content {
		padding-bottom: 6rem;
		width: 100%;
	}
	.swiper-slide-content ul {
		@apply list-inside md:list-outside pl-0 md:pl-[1.625em];
	}
	.swiper-slide-title {
/* 		transform-origin: left; */
	}
	.swiper-slide-text {
/* 		transform-origin: left; */
	}

	.swiper-pagination-bullet {
    background: var(--swiper-pagination-bullet-inactive-color);
}

.swiper-pagination-bullet-active {
    background: var(--swiper-pagination-color,var(--swiper-theme-color));
}

}


.swiper-buttons-graphs {
	.swiper-button-prev::after,
	.swiper-button-next::after {
		content: "";
	}
	.swiper-button-prev,
	.swiper-button-next {
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
	.swiper-button-prev {
		background-image: url("data:image/svg+xml,%3Csvg fill='none' height='40' viewBox='0 0 21 40' width='21' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m20 39-19-19 19-19' stroke='%23234353'/%3E%3C/svg%3E");
	}
	.swiper-button-next {
		background-image: url("data:image/svg+xml,%3Csvg fill='none' height='40' viewBox='0 0 21 40' width='21' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 1 19 19-19 19' stroke='%23234353'/%3E%3C/svg%3E");
	}
}

/*
.swiper-pagination-graphs {
}
*/



.swiper-buttons-graphs {
	display: flex;
	height: var(--swiper-navigation-size);
	margin: 0 auto;
	width: 300px;
	z-index: 9999 !important;
	position: relative !important;
	pointer-events: auto !important;
	@apply md:absolute md:bottom-0 md:left-0;
}

.swiper-buttons-graphs .swiper-button-prev,
.swiper-buttons-graphs .swiper-button-next {
	pointer-events: auto !important;
	cursor: pointer !important;
	z-index: 9999 !important;
}

.swiper-button-prev-graphs {
	left: 0;
}
.swiper-button-next-graphs {
	right: 0;
}
.swiper-pagination-graphs {
	top: 8px !important;
}